backup:
    driver: oss
    name: oss
    # backup multiple directory
    src: /var/www/html /var/www/backup
    dir: /tmp/backup
    password: backup

mysql:
    host: localhost
    user: root
    password: root
    databases: backup,backup2

oss:
    access_key_id: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    access_key_secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    endpoint: https://oss-cn-shenzhen.aliyuncs.com
    bucket: backup

cos:
    secret_id: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    secret_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    region: ap-hongkong
    bucket: backup

# Backblaze B2
b2:
    application_key_id: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    application_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    bucket: backup